.navbar {
    margin-bottom: 10;
    background-color: #160A47;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover {
    color: #fff !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #3299c2 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.row.content {
    height: 450px
}

.sidenav {
    padding-top: 20px;
    background-color: #fff;
    height: 100%;
}

.input{
    display: inline-block;
}

footer {
    background-color: #160A47;
    color: white;
    padding: 15px;
    position: fixed; 
    bottom: 0px;
    width: 100%;
}

legend {
    text-align: center !important;
    color: #160A47;
}

.well-block-sobre {
    background-color: #fff;
    border: 2px solid #160A47;
    padding: 10px;
    height: 100%;
    margin-bottom: 1%;
    border-radius: 10px;
    margin-top: 5%;
    width:100%;
    text-align:justify;
}

.well-block-criacao {
    background-color: #fff;
    border: 2px solid #160A47;
    padding: 40px;
    height: 100%;
    margin-bottom: 1%;
    border-radius: 10px;
    margin-top: 2%;
    width:100%;
    text-align: center;
}

.well-block-acoes {
    background-color: #fff;
    border: 2px solid #160A47;
    padding-bottom: 20px;
    height: 650px;
    margin-bottom: 8px;
    border-radius: 10px;
    margin-top: 10px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.well-block-acoes-mid {
    background-color: #fff;
    border: 2px solid #160A47;
    padding-bottom: 20px;
    height: 320px;
    margin-bottom: 8px;
    border-radius: 10px;
    margin-top: 10px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.well-block-canvas {
    background-color: #fff;
    border: 2px solid #160A47;
    padding: 40px;
    height: 100%;
    width: 100%;
    margin-bottom: 8%;
    border-radius: 10px;
    margin-top: 2%;
}

.well-block-log {
    background-color: #fff;
    border: 2px solid #160A47;
    padding: 40px;
    height: 100%;
    margin-bottom: 1%;
    border-radius: 10px;
    margin-top: 2%;
}

.botao-btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff;
    border-color: #29292c;
    background-color: #160A47;
    transition: all .5s;
}

.btn-xlarge{
    display: inline-block;
    margin: 10px;
    height: 20x;
    padding: 18px 18px;
    font-size: 12px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #160A47;
    border: 0;
    cursor: pointer;
}

.slideanim {
    visibility:hidden;
}

.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 0.8s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

.btn.focus, .btn:focus, .btn:hover {
    color: white;
    text-decoration: none;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}